{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/newbase.css' %}">
</head>
<div class="profile" style="padding-top:10%;">
  <img src="{% static 'images/profile-background-3.PNG' %}" alt="">
  <div class="profile-box">
    
      <img src="{% static 'images/login-avatar.PNG' %}" alt="">
   
    <div class="profile-details">
      <h1>{{ employee.name }}</h1>
      <br>
      <p><i class="far fa-user"></i> Username: {{ employee.user.username }}</p>
      <p><i class="fal fa-user-tag"></i> Dept name: {{ employee.dept_name }}</p>
      <p><i class="far fa-phone"></i> Phone: {{ employee.phone }}</p>
      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ employee.email }}</p>
      <a href="{% url 'classroom:employee_update' pk=user.pk %}"> <p class="edit-button">Edit Profile</p> </a>
    </div>
  </div>
</div>



{% endblock %}
