{% extends "classroom/base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/newbase.css' %}">
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %}"> 
</head>
<div class="student-list" style="padding-top:10%;">
<div class="container">
  <form method='GET' action="{% url 'classroom:manager_list' %}">
    <p>Serch Manager: <input type='search' name='q' placeholder='Search'></p>
  </form>
  <div class="row">
  {% for manager in manager_list %}
  <div class="col-6 col-md-4">
  <div class="student-box">
    <div class="imgBx">
      {% if forloop.counter0|divisibleby:"2" %}
      <img src="{% static 'images/login-avatar.PNG' %}" alt="">
      {% else %}
      <img src="{% static 'images/login-avatar-2.PNG' %}" alt="">
      {% endif %}
      
    </div>
    <div class="content">
      <h3>{{ manager.name }}</h3>
      <p><i class="far fa-user"></i> Username: {{ manager.user.username }}</p>
      <p><i class="fas fa-books"></i> Dept name: {{ manager.dept_name }}</p>
      <p><i class="far fa-phone"></i> Phone: {{ manager.phone }}</p>
      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ manager.email }}</p>
      
    </div>
  </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>




{% endblock %}
